/* Example usage: 
    i {
        margin: 1.25rem 2.5rem;
        @include breakpoint(tinyphone) {
            margin: 1rem;
        }
    }
    Output:
    i { margin: 1.25rem 2.5rem; }
    @media (max-width: 25em) {
        i { margin: 1rem; }
    }
*/
$list_Breakpoints:  (miniphone, 20em, 20.0625em), //320px max | 321px min
                    (tinyphone, 25em, 25.0625em), //400px max | 401px min
                    (phone, 30em, 30.0625em), //480px max | 481px min
                    (maxiphone, 37.5em, 37.5625em), //600px max | 601px min
                    (tablet, 47.9375em, 48em), //767px max | 768px min
                    (laptop, 61.9375em, 62em), //991px max | 992px min
                    (desktop, 74.9375em, 75em); //1199px max | 1200px min

@mixin breakpoint($class, $threshold) {
    @each $breakpoint, $breakpointValMax, $breakpointValMin in $list_Breakpoints {
        @if $class == $breakpoint {
            @if $threshold == 'max' {
                @media (max-width: $breakpointValMax) {
                    @content;
                }
            }
            @if $threshold == 'min' {
                @media (min-width: $breakpointValMin) {
                    @content;
                }
            }
        }
    }
}

i {
    margin: 1.25rem 2.5rem;
    @include breakpoint(tinyphone, max) {
        margin: 1rem;
    }
}
