/* Example usage: 
    i {
        margin: 1.25rem 2.5rem;
        @include breakpoint(tinyphone, max) {
            margin: 1rem;
        }
    }
    Output:
    i { margin: 1.25rem 2.5rem; }
    @media (max-width: 25em) {
        i { margin: 1rem; }
    }
*/
$list_Breakpoints:  (miniphone, (20em, max), (20.0625em, min)), //320px max | 321px min
                    (tinyphone, (25em, max), (25.0625em, min)), //400px max | 401px min
                    (phone, (30em, max), (30.0625em, min)), //480px max | 481px min
                    (maxiphone, (37.5em, max), (37.5625em, min)), //600px max | 601px min
                    (tablet, (47.9375em, max), (48em, min)), //767px max | 768px min
                    (laptop, (61.9375em, max), (62em, min)), //991px max | 992px min
                    (desktop, (74.9375em, max), (75em, min)); //1199px max | 1200px min

@mixin breakpoint($class, $threshold) {
    @each $breakpoint, $breakpointValMax, $breakpointValMin in $list_Breakpoints {
        @if $class == $breakpoint {
            @if $threshold == nth($breakpointValMax, 2) {
                @media (#{nth($breakpointValMax, 2)}-width: nth($breakpointValMax, 1)) {
                    @content;
                }
            }
            @if $threshold == nth($breakpointValMin, 2) {
                @media (#{nth($breakpointValMin, 2)}-width: nth($breakpointValMin, 1)) {
                    @content;
                }
            }
        }
    }
}

i {
    margin: 1.25rem 2.5rem;
    @include breakpoint(tinyphone, max) {
        margin: 1rem;
    }
}
